.outer-container {
  display: flex;
  position: relative;
}

.inner-container {
  position: relative;
  flex: 1;
  overflow: auto;
}

.input,
.output {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  font-size: 10pt;
}

.input {
  z-index: 1;
  outline: none;
  border: none;
  background: transparent;
  padding: 0px;
  resize: none;
  color: transparent;
}
.input::selection {
  background: var(--selection-bg-color);
}

.output {
  pointer-events: none;
}

.output pre {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.character {
  opacity: 0;
}
