.editor {
  display: flex;
  position: relative;
  overflow: auto;
  font-size: 10pt;
}

.editor code {
  display: block;
  font-family: monospace;
  white-space: pre;
}

.container {
  position: relative;
  flex: 1;
}

.input {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  outline: none;
  border: none;
  background: transparent;
  padding: 0px;
  resize: none;
  color: transparent;
  font-size: inherit;
  font-family: monospace;
}
.input::selection {
  background: var(--selection-bg-color);
}

.character {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
